.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.offset-sm-1 {
    margin-left: 8.333333%;
}

.col-sm-12 {
    margin-top: 5%;
    padding: 1rem;
/*    border-radius: 10px;
    border: 3px solid #BADA55;*/
} 

.col-lg-6, .col-lg-5 {
    position: relative;
    min-height: 1px;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 70px;
}

.h1 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #4daca7;
}

.h2 {
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #4daca7;
}

.img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}


